div {
    width: 100px;
    height: 50px;
    font-weight: bold;

    position: relative;
    
    

  }

p{
    position: absolute;
}

#div1 {
    background-color: yellowgreen;
    animation-timing-function: linear;
}


  
#div2 {
    background-color: red;

    
    animation-timing-function: linear;
}


@keyframes move {
    from {left: 0px;}
    to {left: 2000px;}
}

@keyframes peek {
    from {left: 0px;}
    to {left: 100px;}

}